<baustein>
    <typ>embed</typ>
    <daten>
        <color>0x0099FF</color>
        <title>Neuer Member!</title>
        <url>https://programmierhilfe.net</url>
        <author>
            <name>{{username}}</name>
        </author>
        <description>
            Hallo ! {{username}} Willkommen bei uns!
        </description>
        <imageurl>{{imageURL}}</imageurl>
        <timestamp>2022-09-23T19:03:11.217Z</timestamp>
    </daten>
</baustein>