<baustein>
    <typ>selectmenu</typ>
    <daten>
        <customid>idk</customid>
        <disabled>false</disabled>
        <placeholder>none</placeholder>
        <options>
            <option>
                <label>select</label>
                <description>select</description>
                <value>first</value>
            </option>
            <option>
                <label>select2</label>
                <description>select2</description>
                <value>second</value>
            </option>
        </options>
        <minvalues>0</minvalues>
        <maxvalues>2</maxvalues>
    </daten>
</baustein>