<baustein>
    <typ>button</typ>
    <daten>
        <style>Primary</style>
        <label>Modal Demo</label>
        <disabled>false</disabled>
        <emoji></emoji>
        <customid>1234</customid>
    </daten>
</baustein>