<baustein>
    <typ>embed</typ>
    <daten>
        <color>0x0099FF</color>
        <title>TITEL</title>
        <url>https://programmierhilfe.net</url>
        <author>
            <name>Anton</name>
            <iconurl>https://i.imgur.com/AfFp7pu.png</iconurl>
            <url>https://discord.js.org</url>
        </author>
        <description>
            Hallo ! {{callCount}}
        </description>
        <fields>
            <field>
                <name>FOO</name>
                <value>Hey</value>
                <inline>true</inline>
            </field>
            <field>
                <name>Bar</name>
                <value>Flush</value>
                <inline>true</inline>
            </field>
            <field>
                <name>Bar</name>
                <value>Flush</value>
            </field>
        </fields>
        <imageurl>https://i.imgur.com/AfFp7pu.png</imageurl>
        <timestamp>2022-09-23T19:03:11.217Z</timestamp>
        <footer>
            <text>Hello there</text>
            <iconurl>https://i.imgur.com/AfFp7pu.png</iconurl>
        </footer>
    </daten>
</baustein>