<baustein>
    <typ>textinput</typ>
    <daten>
        <customid>something1</customid>
        <label>I Have no Idea</label>
        <style>Paragraph</style>
        <value>some default value</value>
        <placeholder>idk</placeholder>
        <maxlength>1000</maxlength>
        <minlength>300</minlength>
        <required>true</required>
    </daten>
</baustein>