<template>
    <name>ruleaccept</name>
    <seite>
        <bausteine>
            <baustein>
                <pfad>/demos/allgemein/</pfad>
            </baustein>
        </bausteine>
    </seite>
    <befehl>   
        <ID>demoembed</ID>
        <daten>
            <name>demoembed</name>
            <description>description</description>
            <rechte>
                <dm>true</dm>
                <options>
                </options>
            </rechte>
            <options>
                <option>
                    <typ>String</typ>
                    <name>demostring</name>
                    <required>true</required>
                    <description>Memies</description>
                    <choices>
                        <choice>
                            <name>Funny</name>
                            <value>gif_funny</value>
                        </choice>
                        <choice>
                            <name>Meme</name>
                            <value>meme_funny</value>
                        </choice>
                    </choices>
                </option>
                <option>
                    <typ>Role</typ>
                    <name>demorole</name>
                    <required>true</required>
                    <description>Memies</description>
                </option>
            </options>
        </daten>
    </befehl>
</template>